---
import OrganizationBubble from "./OrganizationBubble.astro";
---

<section class="p-4 max-w-5xl mx-auto">
  <div
    class="grid gap-3 grid-flow-col auto-cols-[29%] sm:auto-cols-[21%] overflow-x-auto overscroll-contain no-scrollbar"
  >
    <OrganizationBubble />
    <OrganizationBubble />
    <OrganizationBubble />
    <OrganizationBubble />
    <OrganizationBubble />
    <OrganizationBubble />
  </div>
</section>
