---
import { Image } from "astro:assets";
import pic from "../../../assets/hero.jpg";
---

<div class="shadow-md-x rounded-lg flex flex-col items-center text-center">
  <Image class="w-24 h-24 rounded-full" quality="low" src={pic} alt="Bubble" />
  <p class="text-sm text-black/60">Pancho's Drink House</p>
</div>
