---
import DashboardHeader from "../components/Dashboard/DashboardHeader.astro";
import DashboardContainer from "../components/Dashboard/Dashboard.astro";

import OrganizerTable from "../components/Dashboard/Organizer/OrganizerTable.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="">
    <DashboardHeader />

    <DashboardContainer>
      <!-- form -->
      <form class="max-w-2xl mx-auto py-24 px-8">
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-xl font-semibold">New Organization</h2>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label
                  for="organizer__name"
                  class="block mb-2 text-sm sm:text-base font-medium"
                >
                  Organizer Name
                </label>
                <div class="mt-2">
                  <div class="flex shadow-sm sm:max-w-md">
                    <input
                      type="text"
                      name="organizer__name"
                      id="organizerName"
                      autocomplete="organizer__name"
                      class="w-full rounded-lg block cursor-pointer border border-gray-300 bg-transparent py-2 pl-2 placeholder:text-gray-400 sm:text-sm"
                      placeholder="Pancho's Drink House AA"
                    />
                  </div>
                </div>
              </div>

              <div class="col-span-full">
                <label
                  for="photo"
                  class="block mb-2 text-sm sm:text-base font-medium"
                >
                  Organizer's Logo
                </label>
                <div class="mt-2 flex items-center gap-x-3">
                  <svg
                    class="size-12 text-gray-300"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                      clip-rule="evenodd"></path>
                  </svg>

                  <div class="flex items-center">
                    <label
                      class="block mb-2 text-sm md:text-base font-medium flex-1"
                      for="image__upload">Upload file</label
                    >
                    <input
                      class="w-full rounded-lg block cursor-pointer border border-gray-300 bg-transparent py-2 pl-2 placeholder:text-gray-400 text-sm md:text-base"
                      aria-describedby="image__upload"
                      id="org__img"
                      type="file"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button
            type="button"
            class="rounded-lg px-4 py-2 font-semibold shadow-sm">Cancel</button
          >
          <button
            class="rounded-lg px-4 py-2 font-semibold shadow-sm bg-sky-500 text-white hover:border hover:border-sky-500 hover:text-sky-500 hover:bg-transparent"
          >
            Save
          </button>
        </div>
      </form>

      <!-- space -->
      <!-- space -->
      <!-- space -->
      <!-- space -->
      <!-- space -->

      <OrganizerTable />
    </DashboardContainer>
  </body>
</html>
