---
import DashboardHeader from "../components/Dashboard/DashboardHeader.astro";
import DashboardContainer from "../components/Dashboard/Dashboard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="">
    <DashboardHeader />

    <DashboardContainer>
      <!-- form -->
      <form class="max-w-2xl mx-auto py-24 px-8">
        <div class="space-y-12">
          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-xl font-semibold">New Organization</h2>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label
                  for="organizer__name"
                  class="label"
                >
                  Organizer Name
                </label>
                <div class="mt-2">
                  <div class="flex shadow-sm sm:max-w-md">
                    <input
                      type="text"
                      name="organizer__name"
                      id="organizerName"
                      autocomplete="organizer__name"
                      class="block flex-1 input"
                      placeholder="Pancho's Drink House AA"
                    />
                  </div>
                </div>
              </div>

              <div class="col-span-full">
                <label for="photo" class="label">
                  Organizer's Logo
                </label>
                <div class="mt-2 flex items-center gap-x-3">
                  <svg
                    class="size-12 text-gray-300"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                      clip-rule="evenodd"></path>
                  </svg>

                  <div class="flex items-center">
                    <label
                      class="label"
                      for="image__upload">Upload file</label
                    >
                    <input
                      class="block w-full input text-sm"
                      aria-describedby="image__upload"
                      id="org__img"
                      type="file"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button type="button" class="text-sm font-semibold">Cancel</button>
          <button type="submit" class="rounded-lg text-sm btn btn-accent"
            >Save</button
          >
        </div>
      </form>

      <!-- space -->
      <!-- space -->
      <!-- space -->
      <!-- space -->
      <!-- space -->

      <table class="text-center w-full max-w-2xl mx-auto table-auto">
        <thead>
          <tr>
            <th> Image </th>
            <th> Organization Name </th>
            <th> Created </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="size-5 md:size-10 rounded-full bg-red-500"></div>
            </td>
            <td> Pancho's Drink House </td>
            <td> 01/01/24 </td>
            <td>
              <span
                class="inline-flex overflow-hidden rounded-md border bg-white shadow-sm"
              >
                <button
                  class="inline-block border-e p-3 text-gray-700 hover:bg-gray-50 focus:relative"
                  title="Edit Product"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                    ></path>
                  </svg>
                </button>

                <button
                  class="inline-block p-3 text-gray-700 hover:bg-gray-50 focus:relative"
                  title="Delete Product"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                    ></path>
                  </svg>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </DashboardContainer>
  </body>
</html>
