<div class="hidden h-36 p-8 space-y-1 bg-red-200 text-center border rounded-lg">
  <h4 class="text-base leading-tight tracking-tighter font-light">
    See what's going on in Corozal
  </h4>

  <h1 class="text-3xl font-semibold -tracking-tight">bayside breeze</h1>
</div>
