---
import Card from "./Card.astro";

import Pagination from "./Pagination.astro";
---
<section class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />
    <Card />

    <div class="sm:col-span-2 md:col-span-3">
        <Pagination />
    </div>
</section>
