<!-- results -->
<div class="border border-gray-300 p-8">
  <div class="text-center space-x-2 flex justify-between items-center w-full">
    <div class="grid px-2">
      <h5 class="font-semibold">Total Events</h5>
      <p>5</p>
    </div>

    <div class="grid px-2 border-x-2">
      <h5 class="font-semibold">Upcoming Events</h5>
      <p>5</p>
    </div>

    <div class="grid px-2">
      <h5 class="font-semibold">Number of Organizers</h5>
      <p>5</p>
    </div>
  </div>
</div>
