<!-- results -->
<div class="border border-gray-200 p-8 font-bold">
  <div class="text-center space-x-2 flex justify-between items-center w-full">
    <div class="grid px-2">
      <h5>Total Events</h5>
      <p class="font-normal text-sm">5</p>
    </div>

    <div class="grid px-2 border-x-2">
      <h5>Upcoming Events</h5>
      <p class="font-normal">5</p>
    </div>

    <div class="grid px-2">
      <h5>Number of Organizers</h5>
      <p class="font-normal">5</p>
    </div>
  </div>
</div>
