---
import Table from "./Table.astro";
---

<table class="ml-2 w-full table-auto">
  <thead>
    <tr>
      <th class="border-r p-1"> Cover </th>
      <th class="border-r p-1"> Event </th>
      <th class="border-r p-1"> Organizer </th>
      <th class="border-r p-1"> Start Date </th>
      <th class="hidden sm:block"> </th>
    </tr>
  </thead>
  <tbody>
    <Table />
    <Table />
  </tbody>
</table>
