---
import Table from "./Table.astro"
---
<table class="w-full table-auto">
  <thead>
    <tr>
      <th> Cover </th>
      <th> Event </th>
      <th> Organizer </th>
      <th> Start Date </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <Table />
    <Table />
  </tbody>
</table>
