---
import Base from './Base.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<Base>
    <Navbar />
    <main class="flex-grow pt-24">
        <slot />
    </main>
    <Footer />
</Base>
